header {
    background-color: #1F4F58;
    padding: 20px;
    color: #DCDA65;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #DCDA65;
}